/* properties of the cards themselves */
.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  border-radius: 8px;
}

.card__image:hover {
  cursor: pointer;
}

.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 12px;
}

.card__content-title {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin: 0;
}

.card__content-like-button {
  /* darker version of heart icon */
  background-image: url(../images/like-heart_hover_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0.4;
  transition: opacity 0.8s ease-in-out;
  border: none;
  width: 23px;
  height: 20px;
  cursor: pointer;
}

.card__content-like-button:hover {
  opacity: 1;
}

.card__content-like-button_active {
  background-image: url(../images/like-heart_red_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
  border: none;
  width: 23px;
  height: 20px;
  cursor: pointer;
}

.card__content-like-button_active:hover {
  opacity: 0.5;
}

.card__content-like-button {
  background-size: contain;
  width: 20px;
  height: 18px;
}

.card__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/delete-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1;
  transition: background-image 0.8s ease-in-out;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/delete-button_hover.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
