.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  box-sizing: content-box;
  padding: 32px 50px;
  position: fixed;
  z-index: 2;
  max-width: 730px;
  width: 100%;
  max-height: 408px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}

.modal-background {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-background:hover {
  cursor: pointer;
}

.modal__container-preview {
  position: relative;
  z-index: 2;
}

.modal__image-preview {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__preview-content {
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  top: 750px;
  left: 223px;
}

.modal__preview-title {
  color: rgba(255, 255, 255, 1);
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  padding: 4px 8px 4px 8px;
  margin-top: 8px;
}

.modal__close-btn {
  background-image: url(../images/modal-close-btn-icon.svg);
  background-position: center;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50px;
  top: 32px;
  transition: opacity 0.8s ease-in-out;
}

.modal__close-btn_preview {
  background-image: url(../images/modal-close-btn-preview-icon.svg);
  right: -50px;
  top: 0;
}

.modal__container-delete-card {
  margin: 0;
  top: 325px;
  left: 405px;
  padding: 32px 20px;
  position: fixed;
  z-index: 2;
  width: 590px;
  height: 108px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}

.modal__title-delete-card {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: rgba(33, 33, 33, 1);
}

.modal__close-btn_delete-card {
  background-image: url(../images/modal-close-btn-preview-icon.svg);
  right: -50px;
  top: 0;
}

.modal__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 32px;
}

.modal__delete-btn {
  background-color: rgba(255, 51, 51, 1);
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  max-width: 156px;
  width: 100%;
  height: 52px;
  cursor: pointer;
  border: none;
}

.modal__cancel-btn {
  background-color: rgba(33, 33, 33, 1);
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  max-width: 156px;
  width: 100%;
  height: 52px;
  cursor: pointer;
  border: none;
}

.modal__close-btn:hover {
  opacity: 0.4;
  cursor: pointer;
}

.modal__title {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
}

.modal__form:hover {
  cursor: pointer;
}

.modal__label {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: rgba(33, 33, 33, 0.7);
  margin-top: 32px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.modal__input {
  box-sizing: border-box;
  display: block;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  width: 100%;
  height: 52px;
  padding-left: 12px;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__input:valid {
  border: 1px solid;
}

.modal__input:invalid {
  border: 1px solid rgba(255, 0, 0, 0.6);
  margin-bottom: 8px;
}

.modal__input-error {
  color: rgba(255, 0, 0, 0.7);
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
}

.modal__save-btn {
  margin-top: 32px;
  background-color: rgba(33, 33, 33, 1);
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: rgba(252, 245, 229, 1);
  border-radius: 8px;
  max-width: 156px;
  width: 100%;
  height: 52px;
  cursor: pointer;
}

.modal__save-btn_inactive {
  opacity: 0.5;
  pointer-events: none;
  cursor: auto;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px 12px;
    border-radius: 8px;
    max-width: none;
  }

  .modal__close-btn {
    right: 12px;
    top: 12px;
  }

  .modal__close-btn_preview {
    right: 0;
    top: -50px;
  }

  .modal__image-preview {
    max-width: 288px;
    top: 206px;
    left: 16px;
    border-radius: 4px;
  }

  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__preview-title {
    font-size: 16px;
  }

  .modal__input {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .modal__save-btn {
    max-width: none;
  }
}
