.page {
  /* background-color: #fcf5e5; */
  background-color: rgba(252, 245, 229, 1);
  min-height: 100vh;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 627px) {
  .page__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
