.profile {
  display: flex;
  justify-content: center;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__name {
  color: #212121;
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__avatar-container {
  position: relative;
  display: flex;
  margin-right: 20px;
  padding: 0;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__avatar {
  background-size: cover;
  background-position: center;
  display: block;
  border-radius: 8px;
}

/* change profile__avatar-btn to  avatar__edit-button*/
.avatar__edit-button {
  position: absolute;
  background: none;
  border: none;
  padding: 162px 39px 16px 39px;
  margin: 0;
  border-radius: none;
  background-color: green;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.avatar__edit-button::after {
  content: "Edit Avatar";
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.avatar__edit-button:hover {
  background-color: #000000;
  opacity: 0.5;
  cursor: pointer;
  visibility: visible;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.profile__description {
  margin: 12px 0;
  padding: 0;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  margin-top: auto;
  padding: 0;
  display: flex;
  background: none;
  border: none;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: rgba(33, 33, 33, 1);
  opacity: 0.7;
  transition: opacity 0.8s ease-in-out;
}

.profile__edit-button:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__edit-button-text {
  padding-left: 8px;
}

.profile__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  margin-top: auto;
  padding: 0;
  color: #fcf5e5;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  background-color: #212121;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  width: 149px;
  height: 52px;
  border: none;
}

.profile__add-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    padding-top: 20px;
  }

  .profile__name {
    font-size: 20px;
    max-width: 288px;
  }

  .profile__avatar {
    margin-right: 0;
    padding-bottom: 12px;
    width: 80px;
    height: 80px;
  }

  .profile__description {
    margin: 6px auto 32px auto;
    max-width: 288px;
  }

  .profile__edit-button {
    padding-bottom: 20px;
    margin: 0 auto;
  }

  .profile__add-button {
    margin: auto;
    width: 288px;
  }
}
