<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="social website for users to share photos"
    />
    <meta name="author" content="Simeon Pennisi" />
    <!-- <link rel="stylesheet" href="pages/index.css" /> -->
    <link rel="shortcut icon" href="favicon.ico" />
    <title>Spots</title>
  </head>
  <body>
    <div class="page">
      <header class="header">
        <img
          class="header__logo"
          src="<%= require('./images/logo_icon.svg')%>"
          alt="spot logo"
        />
      </header>
      <main class="content">
        <!-- use "Page Section" for all sections -->
        <section class="profile page__section">
          <div class="profile__avatar-container">
            <button class="avatar__edit-button">
              <img
                class="profile__pencil-icon"
                src="<%= require('./images/edit-profile-pencil-white.svg')%>"
                alt="pencil icon white"
              />
            </button>
            <img
              class="profile__avatar"
              src="<%= require('./images/avatar.jpg')%>"
              alt="user avatar"
            />
          </div>
          <div class="profile__column">
            <h1 class="profile__name">Bessie Coleman</h1>
            <p class="profile__description">Civil Aviator</p>
            <button
              class="profile__edit-button"
              type="button"
              aria-label="edit profile button"
            >
              <img
                src="<%= require('./images/edit-profile-pencil_icon.svg')%>"
                alt="pencil icon"
              />
              <span class="profile__edit-button-text">Edit Profile</span>
            </button>
          </div>
          <button
            class="profile__add-button"
            type="button"
            aria-label="add profile button"
          >
            <img
              class="profile__add-button-icon"
              src="<%= require('./images/add-button_icon.svg')%>"
              alt="add button"
            />
            New Post
          </button>
        </section>
      </main>
      <!-- card section -->
      <section class="cards page__section">
        <ul class="cards__list">
          <!-- card template -->
          <template id="card-template">
            <li class="card">
              <button
                class="card__delete-button"
                type="button"
                aria-label="delete card button"
              ></button>
              <img src="" alt="" title="" class="card__image" />
              <div class="card__content">
                <h2 class="card__content-title"></h2>
                <button
                  class="card__content-like-button"
                  type="button"
                  aria-label="like button"
                ></button>
              </div>
            </li>
          </template>
        </ul>
      </section>
      <footer class="footer page__section">
        <p class="footer__copywrite">2025 &copy; Spots</p>
      </footer>
      <!-- Edit Profile Modal -->
      <div class="modal" id="profile-edit-modal">
        <div class="modal-background"></div>
        <div class="modal__container">
          <button
            type="button"
            class="modal__close-btn"
            aria-label="close button"
          ></button>
          <h3 class="modal__title">Edit Profile</h3>
          <form class="modal__form" name="Edit Profile">
            <!-- "for" attribute of label should match "id" attribute of input -->
            <label for="profile-name-input" class="modal__label"
              >Name
              <input
                id="profile-name-input"
                type="text"
                class="modal__input"
                aria-label="profile name input"
                placeholder="Type your name"
                required
                minlength="2"
                maxlength="40"
              />
              <span
                id="profile-name-input-error"
                class="modal__input-error"
              ></span>
            </label>
            <label for="profile-description-input" class="modal__label"
              >Description
              <input
                id="profile-description-input"
                type="text"
                class="modal__input"
                aria-label="profile description input"
                placeholder="Describe yourself"
                required
                minlength="2"
                maxlength="200"
              />
              <span
                id="profile-description-input-error"
                class="modal__input-error"
              ></span>
            </label>
            <button
              class="modal__save-btn"
              aria-label="save button"
              type="submit"
            >
              Save
            </button>
          </form>
        </div>
      </div>
      <!-- New Post Modal -->
      <div class="modal" id="post-new-modal">
        <div class="modal-background"></div>
        <div class="modal__container">
          <button
            type="button"
            class="modal__close-btn"
            aria-label="close button"
          ></button>
          <h3 class="modal__title">New Post</h3>
          <form class="modal__form" name="New Post">
            <!-- "for" attribute of label should match "id" attribute of input -->
            <label for="new-post-image-link-input" class="modal__label"
              >Image link
              <input
                id="new-post-image-link-input"
                type="url"
                class="modal__input"
                aria-label="new post image input"
                placeholder="Paste a link to the picture"
                required
              />
              <span
                id="new-post-image-link-input-error"
                class="modal__input-error"
              ></span>
            </label>
            <label for="new-post-caption-input" class="modal__label"
              >Description
              <input
                id="new-post-caption-input"
                type="text"
                class="modal__input"
                aria-label="new post description input"
                placeholder="Type your caption"
                required
                minlength="2"
                maxlength="30"
              />
              <span
                id="new-post-caption-input-error"
                class="modal__input-error"
              ></span>
            </label>
            <button
              class="modal__save-btn"
              aria-label="save button"
              type="submit"
            >
              Save
            </button>
          </form>
        </div>
      </div>
      <!-- Preview modal -->
      <div class="modal" id="preview-modal">
        <div class="modal-background"></div>
        <div class="modal__container-preview">
          <button
            type="button"
            class="modal__close-btn modal__close-btn_preview"
            aria-label="close button"
          ></button>
          <img src="#" alt="" title="" class="modal__image-preview" />
          <div class="modal__preview-content">
            <p class="modal__preview-title"></p>
          </div>
        </div>
      </div>
    </div>
    <!-- insert avatar edit modal -->
    <div class="modal" id="avatar-edit-modal">
      <div class="modal-background"></div>
      <div class="modal__container">
        <button
          type="button"
          class="modal__close-btn"
          aria-label="close button"
        ></button>
        <h3 class="modal__title">Edit avatar</h3>
        <form class="modal__form" name="Edit avatar">
          <label for="avatar-url-input" class="modal__label"
            >Name
            <input
              id="avatar-url-input"
              type="url"
              class="modal__input"
              name="Avatar"
              aria-label="avatar name input"
              placeholder="avatar url link"
              required
            />
            <span id="avatar-url-input-error" class="modal__input-error"></span>
          </label>
          <button
            class="modal__save-btn"
            aria-label="save button"
            type="submit"
          >
            Save
          </button>
        </form>
      </div>
    </div>
    <!-- delete card modal -->
    <div class="modal" id="modal__container-delete-card">
      <div class="modal-background"></div>
      <div class="modal__container-delete-card">
        <button
          type="button"
          class="modal__close-btn modal__close-btn_delete-card"
          aria-label="close button"
        ></button>
        <h3 class="modal__title-delete-card">
          Are you sure you want to delete this image?
        </h3>
        <!-- <form class="modal__form" name="Delete Image"> -->
          <div class="modal__buttons">
          <button class="modal__delete-btn" aria-label="delete button" type="submit">
            Delete
          </button>
          <button class="modal__cancel-btn" aria-label="cancel button" type="button">
            Cancel
          </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
